header {
  text-align: center;
  color: white;
  background-color: grey;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: white;
  background-color: lightblue;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  border: lightgrey 1px;
  border-radius: 6px;
  padding: 30px 100px 30px 100px;
}

button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: lightyellow;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid grey 1px;
    border-top:solid grey 1px;
}

th {
    color: white;
    background-color: grey;
    border-top: none;
}
